<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost text-xl" style="color: darkviolet;"><%= client.user.username %></a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1" style="color: darkviolet;">
            <li><a href="/">Accueil</a></li>
            <li><a href="/commandes">Commandes</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/invite">Invite</a></li>
            <li><a href="/support">Support</a></li>
            <% if (typeof user !=='undefined' && user !==null) { %>
                <li>
                    <details>
                      <summary>
                        <%= user.username %>
                      </summary>
                      <ul class="p-2 bg-base-100 rounded-t-none">
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/auth/logout" style="color: firebrick;">Se déconnecter</a></li>
                      </ul>
                    </details>
                </li>
            <% } else { %>
                <li style="color: dodgerblue;"><a href="/auth/login">Se connecter</a></li>
            <% } %>
          </ul>
        </div>
    </div>
    <table class="table table-zebra" style="margin: 20px;">
        <thead>
            <tr>
              <th>Nom</th>
              <th>Description</th>
              <th>Dm Permissions</th>
              <th>Permission Requise</th>
              <th>NSFW</th>
              <th>Options</th>
            </tr>
          </thead>
          <% client.commands.map(command => { %>
            <tbody>
              <tr>
                <td><%= command.data.name %></td>
                <td><%= command.data.description %></td>
                <td><%= command.data.dm_permission ? "oui" : "non" %></td>
                <td><%= command.data.default_member_permissions ? command.data.default_member_permissions : "Aucune" %></td>
                <td><%= command.data.nsfw ? "oui" : "non" %></td>
                <td><%= command.data.options.length ? "oui" : "non" %></td>
              </tr>
            </tbody>
        </div>
        <% }); %>
    </table>
</body>

</html>