<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard <%= user.username %></title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost text-xl" style="color: darkviolet;"><%= client.user.username %></a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1" style="color: darkviolet;">
            <li><a href="/">Accueil</a></li>
            <li><a href="/commandes">Commandes</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/invite">Invite</a></li>
            <li><a href="/support">Support</a></li>
            <% if (typeof user !=='undefined' && user !==null) { %>
                <li>
                    <details>
                      <summary>
                        <%= user.username %>
                      </summary>
                      <ul class="p-2 bg-base-100 rounded-t-none">
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/auth/logout" style="color: firebrick;">Se déconnecter</a></li>
                      </ul>
                    </details>
                </li>
            <% } else { %>
                <li style="color: dodgerblue;"><a href="/auth/login">Se connecter</a></li>
            <% } %>
          </ul>
        </div>
    </div>
    <div style="display: flex; flex-wrap: wrap; align-items: center; justify-content: space-around; align-content: space-around;width: 100%; box-sizing: border-box; margin: 20px 0px;">
        <% user.guilds.map(guild => { %>
            <div class="card w-96 bg-base-100 shadow-xl" style="margin: 5px;">
                <figure>
                    <% if(guild.icon){ %>
                        <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" style="border-radius: 50%; width: 100px; height: 100px;" alt="Icon" />
                    <% } else{ %>
                        <img src="https://archive.org/download/discordprofilepictures/discordyellow.png" style="border-radius: 50%; width: 100px; height: 100px;" alt="Icon" />
                    <% } %>
                </figure>
                <div class="card-body">
                    <h2 class="card-title"><%= guild.name %></h2>
                    <div class="card-actions justify-end">
                    <% if(client.guilds.cache.get(guild.id)?.members.cache.get(user.id)?.permissions.has("ManageGuild")){ %>
                        <button class="btn" style="background-color: darkviolet; color: black;">Configurer</button>
                    <% } else{ %>
                        <button class="btn btn-primary">Inviter</button>
                    <% } %>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</body>

</html>